@media (max-width: 1024px) {
    header .menu {
        display: none;
    }

    header .btn.btn--black {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .swiper-5 .swiper-pagination {
        display: block;
    }

    section {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}