@media (max-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .wide-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    header {
        top: 10px;
    }

    .header__video-box {
        width: 100%;
        height: 480px;
        border-radius: 0;
    }

    .header__video-box::after {
        border-radius: 0;
    }

    .header__video {
        border-radius: 0;
    }

    .hero {
        margin-top: 0;
    }

    .hero .container {
        height: 480px;
        margin-top: 0;
        padding-bottom: 85px;
        justify-content: end;
    }

    .acquaintance__container {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
    }

    footer {
        margin-top: 80px;
    }

    .assets__box {
        padding: 50px 15px 15px 15px;
    }

    .assets__list {
        grid-template-columns: 1fr;
        margin-bottom: -15px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .assets__item:not(:first-child) {
        display: none;
    }
}