@media (max-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .wide-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    header {
        top: 10px;
    }

    .header__video-box {
        width: 100%;
        height: 480px;
        border-radius: 0;
    }

    .header__video-box::after {
        border-radius: 0;
    }

    .header__video {
        border-radius: 0;
    }

    .hero {
        margin-top: 0;
    }

    .hero .container {
        height: 480px;
        margin-top: 0;
        padding-bottom: 85px;
        justify-content: end;
    }

    .acquaintance__container {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
    }

    .banner__container::before {
        background: url(../img/usa-mobile.png) left top / contain no-repeat;
    }

    .banner__container::after {
        top: auto;
        bottom: 0;
        background: url(../img/europe-mobile.png) right bottom / contain no-repeat;
    }

    .banner-2 .banner__container::before {
        /* background: url(../img/banner-2-left-mobile.png) left top / contain no-repeat; */
    }

    .banner-2 .banner__container::after {
        top: auto;
        bottom: 0;
        /* background: url(../img/banner-2-right-mobile.png) right bottom / contain no-repeat; */
    }

    .banner__content {
        padding: 70px 15px 115px 15px;
    }

    .error {
        margin-top: 0;
    }

    .error__container {
        margin-top: 0;
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
        padding: 130px 15px 80px 15px;
    }

    .hero-with-arrow {
        margin-top: 0;
        margin-bottom: 80px;
    }

    .hero-with-arrow__content h1,
    .hero-with-arrow__content p {
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero-with-arrow__content {
        margin-left: -15px;
        margin-right: -15px;
        padding-top: 120px;
        border-radius: 0;
    }

    .documents .container {
        grid-template-columns: 1fr;
    }

    .documents__banner {
        display: none;
    }

    .advantages-and-disadvantages {
        margin-top: 80px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .for-what h2 {
        margin-bottom: 30px;
    }

    .popular-methods__box {
        background: url(../img/popular-methods-image.svg) var(--grey) right center / 30% no-repeat;
    }

    .trading-platform__item:nth-child(2) {
        padding-left: 53%;
    }

    .awards__list {
        display: none;
    }

    .awards__item--1,
    .awards__item--2,
    .awards__item--3,
    .awards__item--4,
    .awards__item--5,
    .awards__item--6 {
        position: initial;
        transform: none;
        margin: auto;
    }

    .awards__box {
        width: 100%;
        padding: 0;
        height: auto;
        background: none;
    }

    .awards__list--mobile {
        display: block;
    }

    .awards .container {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .swiper-6 {
        margin-top: 15px;
    }

    /* .start__item:nth-child(1) {
        background: url(../img/start-box-mobile-1.png) var(--grey) right center / contain no-repeat;
    }

    .start__item:nth-child(2) {
        background: url(../img/start-box-mobile-2.png) var(--grey) right center / contain no-repeat;
    }

    .start__item:nth-child(3) {
        background: url(../img/start-box-mobile-3.png) var(--grey) right center / contain no-repeat;
    }

    .start__item:nth-child(4) {
        background: url(../img/start-box-mobile-4.png) var(--grey) right center / contain no-repeat;
    }

    .start__item:nth-child(5) {
        background: url(../img/start-box-mobile-5.png) var(--grey) right center / contain no-repeat;
    }

    .start__item:nth-child(6) {
        background: url(../img/start-box-mobile-6.png) var(--grey) right center / contain no-repeat;
    } */

    .start__box {
        position: relative;
        max-width: 355px;
    }

    .start__box::before {
        z-index: -1;
        position: absolute;
        content: '';
        top: -15px;
        left: -15px;
        width: calc(100% + 15px + 15px);
        height: calc(100% + 15px + 15px);
        background: var(--grey);
        filter: blur(50px);
    }

    .assets__list {
        grid-template-columns: 1fr 1fr;
    }

    .assets__item:nth-child(3) {
        display: none;
    }

    .swiper-1 {
        width: calc(100% + 15px);
        margin-right: -15px;
    }
}