@media (max-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .wide-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    header {
        top: 10px;
    }

    .header__video-box {
        width: 100%;
        height: 480px;
        border-radius: 0;
    }

    .header__video-box::after {
        border-radius: 0;
    }

    .header__video {
        border-radius: 0;
    }

    .hero {
        margin-top: 0;
    }

    .hero .container {
        height: 480px;
        margin-top: 0;
        padding-bottom: 85px;
        justify-content: end;
    }

    .acquaintance__container {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
    }

    .banner__container::before {
        /* height: 50%; */
        background: url(../img/usa-mobile.png) left top / contain no-repeat;
    }

    .banner__container::after {
        /* height: 50%; */
        top: auto;
        bottom: 0;
        background: url(../img/europe-mobile.png) right bottom / contain no-repeat;
    }

    .banner__content {
        padding: 70px 15px 115px 15px;
    }

    .error {
        margin-top: 0;
    }

    .error__container {
        margin-top: 0;
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
        padding: 130px 15px 80px 15px;
    }
}