@media (max-width: 1300px) {
    .acquaintance__list {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: 35px;
        margin-bottom: 20px;
    }

    .acquaintance__item:nth-child(1) {
        width: 100%;
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
    }


    .acquaintance__item:nth-child(2) {
        width: 100%;
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
    }

    .acquaintance__item:nth-child(3) {
        width: 100%;
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
    }

    .acquaintance__item:nth-child(4) {
        width: 100%;
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
    }
    
    .banner__content::before {
        z-index: -1;
        position: absolute;
        content: '';
        top: -20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: calc(100% - 40%);
        height: calc(100% + 40px);
        background: var(--grey-dark);
        -webkit-filter: blur(15px);
                filter: blur(15px);
    }
}