@media (max-width: 425px) {
    .quotes__box {
        padding: 0;
        background: none;
    }

    .charts-online__box {
        padding: 0;
        background: none;
    }

    .widgets-box__box {
        padding: 0;
        background: none;
    }

    .widgets-box__widget {
        width: 100%;
    }
}