@media (max-width: 500px) {
    .cookies {
        left: 20px;
        right: 20px;
        bottom: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .cookies .btn {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }

    .header__logo {
        max-width: 140px;
    }

    footer .menu {
        grid-template-columns: 1fr;
    }

    .footer__logo {
        max-width: 200px;
    }
}