@media (max-width: 768px) {
    .table-overflow {
        overflow-x: auto;
    }

    .right-choice__list {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    .right-choice__item:nth-child(1) {
        order: -6;
    }

    .right-choice__item:nth-child(2) {
        order: -4;
    }

    .right-choice__item:nth-child(3) {
        grid-row: initial;
        grid-column: initial;
    }

    .right-choice__item:nth-child(4) {
        order: -5;
        grid-row: initial;
        grid-column: initial;
    }

    .right-choice__item:nth-child(5) {
        order: -2;
    }

    .right-choice__item:nth-child(6) {
        order: -1;
    }

    .right-choice__item:nth-child(7) {
        /* order: -2; */
    }

    .right-choice__item:nth-child(3)::after {
        display: none;
    }

    .right-choice__item:nth-child(4)::after {
        display: none;
    }

    .right-choice__item:nth-child(3) h3 {
        margin-bottom: 0;
    }

    .right-choice__item:nth-child(4) h3 {
        margin-bottom: 0;
    }

    .differences__box {
        grid-template-columns: 1fr;
    }

    .differences__image img {
        width: 100%;
    }

    .advantages-and-disadvantages__item {
        padding: 20px 15px 15px;
    }

    .recommendations__box {
        grid-template-columns: 1fr;
    }

    .recommendations__left {
        order: 1;
    }

    .for-what .container {
        grid-template-columns: 1fr;
    }

    .for-what__image img {
        width: 100%;
    }

    .widgets-box__box {
        flex-direction: column;
        align-items: center;
    }

    .popular-methods__box {
        padding-bottom: 200px;
        background: url(../img/popular-methods-image.svg) var(--grey) center bottom 20px / 100% 150px no-repeat;
    }

    .popular-methods__content {
        max-width: 100%;
    }

    .trading-advantages__list {
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .trading-platform__item:nth-child(1) {
        padding: 20px 15px;
        padding-bottom: 190px;
        background: url(../img/trading-platform-item-1.png) var(--grey) center bottom / 200px 155px no-repeat;
    }

    .trading-platform__item:nth-child(2) {
        padding: 20px 15px;
        padding-bottom: 180px;
        background: url(../img/trading-platform-item-2.png) var(--grey-dark) center bottom 20px / 250px 130px no-repeat;
    }

    .trading-platform__item:nth-child(3) {
        padding: 20px 15px;
        padding-bottom: 205px;
        background: url(../img/trading-platform-item-3.png) var(--grey) center bottom / 220px 180px no-repeat;
    }

    .safety .container {
        grid-template-columns: 1fr;
    }

    .safety__img {
        order: 1;
    }

    .methods__list {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .methods__item:nth-child(5) {
        grid-column: initial;
    }

    .consider h2 {
        text-align: center;
    }

    .instruments-box__list {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}