@media (max-width: 992px) {
    footer .container {
        grid-template-columns: 1fr;
    }

    footer .menu {
        grid-row: initial;
        grid-column: initial;
        gap: 30px;
    }

    .assets__box {
        height: auto;
        padding: 50px 15px 220px 15px;
    }

    .assets__list {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .assets__item:not(:first-child) {
        display: none;
    }
    
    .assets__list--1::before {
        width: 140px;
        height: 210px;
        object-position: center bottom;
        top: auto;
        bottom: 120px;
        right: 20px;
    }

    .assets__list--2::before {
        width: 190px;
        height: 185px;
        top: initial;
        bottom: 120px;
        right: 0;
    }

    .assets__list--3::before {
        width: 180px;
        height: 210px;
        top: initial;
        bottom: 100px;
        right: 10px;
    }

    .assets__list--4::before {
        width: 160px;
        height: 200px;
        top: initial;
        bottom: 105px;
        right: 0;
    }

    .assets__list--5::before {
        width: 135px;
        height: 255px;
        top: initial;
        bottom: 60px;
        right: 15px;
    }

    .assets__list--6::before {
        width: 180px;
        height: 200px;
        top: initial;
        bottom: 110px;
        right: 0;
    }

    .assets__list--1::after {
        width: 100px;
        height: 130px;
        left: 20px;
        bottom: 170px;
        top: auto;
        right: auto;
    }

    .assets__list--2::after {
        width: 105px;
        height: 130px;
        left: 20px;
        bottom: 195px;
        top: auto;
        right: auto;
    }

    .assets__list--3::after {
        width: 105px;
        height: 130px;
        left: 20px;
        bottom: 175px;
        top: auto;
        right: auto;
    }

    .assets__list--4::after {
        width: 100px;
        height: 130px;
        left: 20px;
        bottom: 175px;
        top: auto;
        right: auto;
    }

    .assets__list--5::after {
        width: 115px;
        height: 130px;
        left: 20px;
        bottom: 175px;
        top: auto;
        right: auto;
    }

    .assets__list--6::after {
        width: 95px;
        height: 130px;
        left: 20px;
        bottom: 175px;
        top: auto;
        right: auto;
    }

    .assets__box:nth-child(1) {
        background: url(../img/assets-box-bg-mobile-1.png) var(--grey) right bottom / contain no-repeat;
    }

    .assets__box:nth-child(2) {
        background: url(../img/assets-box-bg-mobile-2.png) var(--grey) right bottom / contain no-repeat;
    }

    .assets__box:nth-child(3) {
        background: url(../img/assets-box-bg-mobile-3.png) var(--grey) right bottom / contain no-repeat;
    }

    .assets__box:nth-child(4) {
        background: url(../img/assets-box-bg-mobile-4.png) var(--grey) right bottom / contain no-repeat;
    }

    .assets__box:nth-child(5) {
        background: url(../img/assets-box-bg-mobile-5.png) var(--grey) right bottom / contain no-repeat;
    }

    .assets__box:nth-child(6) {
        background: url(../img/assets-box-bg-mobile-6.png) var(--grey) right bottom / contain no-repeat;
    }

    .cards__item {
        padding: 15px;
    }

    .cards__box {
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 5px;
    }

    .cards__item img {
        margin-top: 10px;
    }

    .cards {
        margin-top: 10px;
    }

    .hero {
        margin-bottom: 10px;
    }

    .right-choice h2 {
        margin-bottom: 50px;
    }

    .right-choice__list {
        gap: 35px;
    }

    .types .text1 {
        margin-bottom: 25px;
    }

    .assets h2+.text1 {
        margin-bottom: 30px;
    }

    .assets__btn {
        padding: 7px;
    }

    .swiper-3 {
        padding-bottom: 20px;
    }

    .news h2 {
        margin-bottom: 30px;
    }

    .news__list {
        gap: 15px;
    }

    .news__content {
        padding: 20px 15px;
    }
    
    .banner__container::before {
        height: 50%;
    }

    .banner__container::after {
        height: 50%;
    }

    .contacts {
        background: var(--grey);
    }

    .contacts .container {
        padding-top: 20px;
        padding-bottom: 20px;
        grid-template-columns: 1fr;
    }

    .contacts__left {
        padding: 0;
    }

    .contacts__right {
        padding: 0;
    }

    .contacts__box {
        display: none;
    }

    .contacts__box--mobile {
        display: grid;
        margin-bottom: 0;
    }

    input {
        margin-bottom: 15px;
    }

    .hero-with-arrow {
        margin-bottom: 100px;
    }

    .advantages-and-disadvantages {
        margin-top: 80px;
    }

    .advantages-and-disadvantages .recommendations__right h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .ui-accordion .ui-accordion-header {
        gap: 0;
    }

    .ui-accordion .ui-accordion-header div {
        padding: 13px 63px 13px 16px;
    }

    .ui-accordion .ui-accordion-header::before {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
    }

    .recommendations__box {
        gap: 15px;
    }

    .news-page__container {
        grid-template-columns: 1fr;
    }

    .news-aside {
        display: none;
    }

    .news-page__list {
        gap: 15px;
    }

    .pagination {
        margin-top: 30px;
    }

    .news-content__img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }

    .popular-methods__box {
        padding: 50px 25px;
    }

    .choice__list {
        grid-template-columns: 1fr;
    }

    .choice__item {
        height: 250px;
    }

    .responsibility__btns {
        display: block;
    }

    .responsibility__btns {
        display: none;
    }

    .responsibility__content {
        height: auto;
        grid-template-columns: 1fr;
    }
}