@media (min-width: 1000px) {
    .btn:hover {
        color: var(--white);
        background: #0065B3;
    }

    .btn-arrow-black:hover::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .btn-arrow-white:hover::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    header .menu-item:hover a {
        background: var(--grey-dark);
    }

    header .sub-menu .menu-item a {
        background: none;
    }

    header .sub-menu:hover {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    header .menu-item:hover .sub-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    header .sub-menu .menu-item:hover a {
        color: var(--color-hover);
    }

    .right-choice__item:nth-child(1):hover {
        border: 2px solid var(--green-hover);
    }

    .right-choice__item:nth-child(1):hover h3::before {
        background: var(--green-hover);
    }

    .right-choice__item:nth-child(2):hover {
        border: 2px solid var(--red-hover);
    }

    .right-choice__item:nth-child(2):hover h3::before {
        background: var(--red-hover);
    }

    .right-choice__item:nth-child(3):hover {
        border: 2px solid var(--blue-hover);
    }

    .right-choice__item:nth-child(3):hover h3::before {
        background: var(--blue-hover);
    }

    .right-choice__item:nth-child(4):hover {
        border: 2px solid var(--blue-hover);
    }

    .right-choice__item:nth-child(4):hover h3::before {
        background: var(--blue-hover);
    }

    .right-choice__item:nth-child(5):hover {
        border: 2px solid var(--green-hover);
    }

    .right-choice__item:nth-child(5):hover h3::before {
        background: var(--green-hover);
    }

    .right-choice__item:nth-child(6):hover {
        border: 2px solid var(--red-hover);
    }

    .right-choice__item:nth-child(6):hover h3::before {
        background: var(--red-hover);
    }

    .right-choice__item:nth-child(7):hover {
        border: 2px solid var(--pink-hover);
    }

    .right-choice__item:nth-child(7):hover h3::before {
        background: var(--pink-hover);
    }

    .types__list .swiper-slide:nth-child(1) .types__item:hover {
        border: 2px solid var(--green-hover);
    }

    .types__list .swiper-slide:nth-child(2) .types__item:hover {
        border: 2px solid var(--red-hover);
    }

    .types__list .swiper-slide:nth-child(3) .types__item:hover {
        border: 2px solid var(--pink-hover);
    }

    .types__list .swiper-slide:nth-child(4) .types__item:hover {
        border: 2px solid var(--blue-hover);
    }

    .acquaintance__item:nth-child(1):hover {
        border: 2px solid var(--green-hover);
    }

    .acquaintance__item:nth-child(2):hover {
        border: 2px solid var(--red-hover);
    }

    .acquaintance__item:nth-child(3):hover {
        border: 2px solid var(--pink-hover);
    }

    .acquaintance__item:nth-child(4):hover {
        border: 2px solid var(--blue-hover);
    }

    .acquaintance__item:nth-child(1):hover p:before {
        background: var(--green-hover);
    }

    .acquaintance__item:nth-child(2):hover p:before {
        background: var(--red-hover);
    }

    .acquaintance__item:nth-child(3):hover p:before {
        background: var(--pink-hover);
    }

    .acquaintance__item:nth-child(4):hover p:before {
        background: var(--blue-hover);
    }

    .assets__btn:hover {
        color: var(--color-hover);
    }

    .news__item h3 a:hover {
        color: var(--color-hover);
    }

    .footer__icon:hover {
        background-color: var(--grey-dark);
    }

    footer .sub-menu .menu-item a:hover {
        color: var(--color-hover);
    }

    .responsibility__btn:hover {
        color: var(--color-hover);
    }

    details summary:hover h3 {
        color: var(--color-hover);
    }

    details summary:hover::before {
        background: url(../img/plus-hover.svg) var(--grey) center / 20px no-repeat;
    }

    details[open] summary:hover::before {
        background: url(../img/minus.svg) var(--grey-dark) center / 30px no-repeat;
    }

    .documents__item:hover {
        color: var(--color-hover);
    }

    .documents__item:hover::after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background: url(../img/btn-arrow-black-hover.svg) var(--grey) center / 30px no-repeat;
    }

    a:hover {
        color: var(--color-hover);
    }

    .steps__icon:hover {
        background-color: #cbbdf3;
    }

    .trading-advantages__item:nth-child(1):hover {
        border: 2px solid var(--green-hover);
    }

    .trading-advantages__item:nth-child(1):hover h3::before {
        background: var(--green-hover);
    }

    .trading-advantages__item:nth-child(2):hover {
        border: 2px solid var(--red-hover);
    }

    .trading-advantages__item:nth-child(2):hover h3::before {
        background: var(--red-hover);
    }

    .trading-advantages__item:nth-child(3):hover {
        border: 2px solid var(--blue-hover);
    }

    .trading-advantages__item:nth-child(3):hover h3::before {
        background: var(--blue-hover);
    }

    .instruments__btn:hover {
        color: var(--color-hover);
    }

    .instruments__table tr:not(:first-child):hover {
        background: var(--grey-dark);
    }

    .instruments__buy:hover {
        color: var(--black);
    }

    .instruments__buy:hover::after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .news-page__link:hover {
        color: var(--color-hover);
    }

    .news-aside__link:hover {
        color: var(--color-hover);
    }

    .pagination a:hover {
        color: var(--color-hover);
    }

    .news-content__copyright a:hover {
        color: var(--color-hover);
    }

    .other-news h3:hover a {
        color: var(--color-hover);
    }

    .ui-accordion .ui-accordion-header:hover::before {
        background: url(../img/plus-hover.svg) var(--grey) center / 20px no-repeat;
    }

    .ui-accordion .ui-accordion-header:hover h3 {
        color: var(--color-hover);
    }

    .ui-accordion .ui-accordion-header:hover {
        color: var(--color-hover);
    }
}