:root {
    --white: #fff;

    --grey: #F3F3F3;
    --grey-dark: #E1DAF5;

    --black: #292929;
    --black-with-opacity: #29292945;

    --green: linear-gradient(180deg, #72E175 0%, #83E09E 61.31%);
    --green-hover: #72E175;

    --red: linear-gradient(183.32deg, #E26853 3.33%, #FB8B6D 54.97%);
    --red-hover: #E26853;

    --pink: linear-gradient(180deg, #E5ADFF 0%, #FCB8E1 61.78%);
    --pink-hover: #E5ADFF;

    --blue: linear-gradient(180deg, #75D1FF 0%, #3BAAE1 100%);
    --blue-hover: #75D1FF;

    --color-hover: #5256A4;
    --color-hover: #0065B3;
    /* --color-hover: #007aff; */

    --transition: .1s ease-in-out all
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: calc(1215px + 60px);
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.wide-container {
    position: relative;
    max-width: calc(1840px + 60px);
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    text-decoration: none;
}

.btn:hover {
    color: var(--white);
    background: #0065B3;
}

.btn--white {
    color: var(--black);
    background: var(--white);
}

.btn--black {
    color: var(--white);
    background: var(--black);
}

.btn-arrow-black {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: var(--black);
    cursor: pointer;
}

.btn-arrow-black::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background: url(../img/btn-arrow-white.svg) center / contain no-repeat;
    transition: var(--transition);
}

.btn-arrow-black:hover::before {
    transform: rotate(45deg);
}

.btn-arrow-white {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: var(--white);
    cursor: pointer;
}

.btn-arrow-white::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background: url(../img/btn-arrow-black.svg) center / contain no-repeat;
    transition: var(--transition);
}

.btn-arrow-white:hover::before {
    transform: rotate(45deg);
}

h1 {
    margin: 0;
    font-size: 48px;
    line-height: 105%;
    font-weight: 500;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 42px;
    line-height: 105%;
    font-weight: 500;
    text-align: center;
}

h3 {
    margin: 0;
    font-size: 24px;
    line-height: 105%;
    font-weight: 500;
}

.text1 {
    font-size: 18px;
    font-weight: 300;
    line-height: 130%;
}

.text2 {
    font-size: 16px;
    font-weight: 300;
    line-height: 115%;
}

header {
    z-index: 10;
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
}

.header__container {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 20px;
    background: var(--grey);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}

.header__logo {
    max-width: 200px;
}

header .menu {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .menu-item {
    position: relative;
}

header .menu-item::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 20px;
}

header .sub-menu .menu-item::before {
    display: none;
}

header .menu-item a {
    font-size: 18px;
    font-weight: 300;
    line-height: 130%;
    color: var(--black);
    text-decoration: none;
    padding: 2px 11px;
    border-radius: 30px;
}

header .menu-item:hover a {
    background: var(--grey-dark);
}

header .sub-menu .menu-item a {
    display: block;
    width: 100%;
    padding: 0;
    padding-left: 30px;
    font-size: 18px;
    line-height: 115%;
    background: none;
    color: var(--black);
    border-radius: 0;
    transition: var(--transition);
}

.header__lang {
    border: none;
    background: none;
    cursor: pointer;
}

header .sub-menu {
    display: none;
    position: absolute;
    left: -85px;
    top: 35px;
    padding-top: 15px;
    width: 255px;
    gap: 20px;
    flex-direction: column;
    list-style: none;
    background: var(--grey);
    box-shadow: 1px -1px 10px 0px #0000001A;
    padding: 20px 15px;
    border-radius: 3px;
}

header .sub-menu:hover {
    display: flex;
}

header .menu-item:hover .sub-menu {
    display: flex;
}

header .sub-menu .menu-item:hover a {
    color: var(--color-hover);
}

header .discription {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #9C9C9C;
    line-height: 120%;
}

.header__about {
    background: url(../img/header-about.svg) left top / 24px no-repeat;
}

.header__why {
    background: url(../img/header-why.svg) left top / 24px no-repeat;
}

.header__doc {
    background: url(../img/header-doc.svg) left top / 24px no-repeat;
}

.header__contact {
    background: url(../img/header-contact.svg) left top / 24px no-repeat;
}

.header__start {
    background: url(../img/header-start.svg) left top / 24px no-repeat;
}

.header__platform {
    background: url(../img/header-platform.svg) left top / 24px no-repeat;
}

.header__investing {
    background: url(../img/header-investing.svg) left top / 24px no-repeat;
}

.header__specification {
    background: url(../img/header-specification.svg) left top / 24px no-repeat;
}

.header__deposit {
    background: url(../img/header-deposit.svg) left top / 24px no-repeat;
}

.header__review {
    background: url(../img/header-review.svg) left top / 24px no-repeat;
}

.header__news {
    background: url(../img/header-news.svg) left top / 24px no-repeat;
}

.header__forecasts {
    background: url(../img/header-forecasts.svg) left top / 24px no-repeat;
}

.header__calendar {
    background: url(../img/header-calendar.svg) left top / 24px no-repeat;
}

.header__basics {
    background: url(../img/header-basics.svg) left top / 24px no-repeat;
}

.header__fundamental-analysis {
    background: url(../img/header-fundamental-analysis.svg) left top / 24px no-repeat;
}

.header__technical-analysis {
    background: url(../img/header-technical-analysis.svg) left top / 24px no-repeat;
}

.hero .container {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    gap: 25px;
    text-align: center;
    color: var(--white);
}

.header__video-box {
    z-index: -10;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 60px);
    height: 650px;
    background: #00000099;
    border-radius: 10px;
}

.header__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.header__video-box::after {
    content: '';
    width: 100%;
    height: 650px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* right: 30px; */
    background: #00000099;
    border-radius: 10px;
}

.cards .wide-container {
    padding-top: 20px;
}

.cards__item {
    padding: 25px;
    border-radius: 10px;
    flex: 0 0 auto;
}

.cards__box {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--black-with-opacity);
}

.cards__item img {
    margin-top: 20px;
}

.cards__item--green {
    background: var(--green);
}

.cards__item--red {
    background: var(--red);
}

.cards__item--pink {
    background: var(--pink);
}

.cards__item--blue {
    background: var(--blue);
}

.right-choice {
    margin-top: 120px;
    margin-bottom: 120px;
}

.right-choice h2 {
    margin-bottom: 65px;
}

.right-choice__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.right-choice__item {
    position: relative;
    padding: 30px 15px;
    border-radius: 10px;
    background: var(--grey);
    transition: var(--transition);
    border: 2px solid var(--grey);
}

.right-choice h3::before {
    position: absolute;
    content: '';
    display: block;
    width: 38px;
    width: 38px;
    height: 17px;
    padding: 2px;
    border-radius: 0 0 50px 50px;
    background: var(--white);
    left: 20px;
    top: -1px;
    transition: var(--transition);
}

.right-choice__item::before {
    z-index: 1;
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: -22px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin: 2px;
    transition: var(--transition);
}

.right-choice__item:nth-child(1):hover {
    border: 2px solid var(--green-hover);
}

.right-choice__item:nth-child(1):hover h3::before {
    background: var(--green-hover);
}

.right-choice__item:nth-child(2):hover {
    border: 2px solid var(--red-hover);
}

.right-choice__item:nth-child(2):hover h3::before {
    background: var(--red-hover);
}

.right-choice__item:nth-child(3):hover {
    border: 2px solid var(--blue-hover);
}

.right-choice__item:nth-child(3):hover h3::before {
    background: var(--blue-hover);
}

.right-choice__item:nth-child(4):hover {
    border: 2px solid var(--blue-hover);
}

.right-choice__item:nth-child(4):hover h3::before {
    background: var(--blue-hover);
}

.right-choice__item:nth-child(5):hover {
    border: 2px solid var(--green-hover);
}

.right-choice__item:nth-child(5):hover h3::before {
    background: var(--green-hover);
}

.right-choice__item:nth-child(6):hover {
    border: 2px solid var(--red-hover);
}

.right-choice__item:nth-child(6):hover h3::before {
    background: var(--red-hover);
}

.right-choice__item:nth-child(7):hover {
    border: 2px solid var(--pink-hover);
}

.right-choice__item:nth-child(7):hover h3::before {
    background: var(--pink-hover);
}

.right-choice__item:nth-child(1)::before {
    background: url(../img/right-choice-item-1.svg) var(--grey) center / 18px no-repeat;
}

.right-choice__item:nth-child(2)::before {
    background: url(../img/right-choice-item-2.svg) var(--grey) center / 18px no-repeat;
}

.right-choice__item:nth-child(3) {
    grid-column: 3;
    grid-row: 1/3;
}

.right-choice__item:nth-child(3) h3 {
    margin-bottom: 170px;
}

.right-choice__item:nth-child(3)::before {
    background: url(../img/right-choice-item-3.svg) var(--grey) center / 18px no-repeat;
}

.right-choice__item:nth-child(3)::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    width: 100%;
    height: 200px;
    background: url(../img/Access-to-all-markets.png) center bottom / contain no-repeat;
}

.right-choice__item:nth-child(4) {
    grid-row: 2/4;
}

.right-choice__item:nth-child(4) h3 {
    margin-bottom: 170px;
}

.right-choice__item:nth-child(4)::before {
    background: url(../img/right-choice-item-4.svg) var(--grey) center / 18px no-repeat;
}

.right-choice__item:nth-child(4)::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    width: 100%;
    height: 190px;
    background: url(../img/Fast-deposit-and-withdrawal-of-funds.png) center bottom / contain no-repeat;
}

.right-choice__item:nth-child(5)::before {
    background: url(../img/right-choice-item-5.svg) var(--grey) center / 18px no-repeat;
}

.right-choice__item:nth-child(6)::before {
    background: url(../img/right-choice-item-6.svg) var(--grey) center / 18px no-repeat;
}

.right-choice__item:nth-child(7)::before {
    background: url(../img/right-choice-item-7.svg) var(--grey) center / 18px no-repeat;
}

.types {
    margin-bottom: 120px;
}

.types h2 {
    margin-bottom: 15px;
}

.types .text1 {
    margin-bottom: 50px;
    text-align: center;
}

.types__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    list-style: none;
}

.types__item {
    padding: 30px 10px;
    background: var(--grey);
    border-radius: 10px;
    border: 2px solid var(--grey);
    transition: var(--transition);
    cursor: pointer;
}

.types h3 {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--black-with-opacity);
}

.types__price {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 110%;
    font-weight: 500;
}

.types .text2 {
    margin-bottom: 25px;
    font-size: 14px;
    color: #9C9C9C;
}

.types .btn {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.types__element {
    display: flex;
    /* align-items: center; */
    gap: 5px;
    font-size: 18px;
    line-height: 130%;
}

.types__element::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-top: 8px;
    flex: 0 0 auto;
    background: url(../img/check.svg) center / contain no-repeat;
}

.types__element:not(:last-child) {
    margin-bottom: 10px;
}

.types__item:nth-child(1):hover {
    border: 2px solid var(--green-hover);
}

.types__item:nth-child(2):hover {
    border: 2px solid var(--red-hover);
}

.types__item:nth-child(3):hover {
    border: 2px solid var(--pink-hover);
}

.types__item:nth-child(4):hover {
    border: 2px solid var(--blue-hover);
}

.acquaintance__container {
    padding-top: 120px;
    padding-bottom: 120px;
    background: url(../img/acquaintance-bg.png) center / cover no-repeat;
    border-radius: 10px;
}

.acquaintance h2 {
    margin-bottom: 15px;
    color: var(--white);
}

.acquaintance .text1 {
    max-width: 660px;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
    color: var(--white);
}

.acquaintance__box {
    position: relative;
    max-width: 690px;
    margin: auto;
}

.acquaintance__list {
    list-style: none;
}

.acquaintance__item {
    width: 385px;
    padding: 30px 15px;
    border-radius: 10px;
    background: var(--grey);
    border: 2px solid var(--grey);
    transition: var(--transition);
}

.acquaintance__item:nth-child(1) {
    position: absolute;
    top: 15%;
    left: -35%;
}

.acquaintance__item:nth-child(2) {
    position: absolute;
    bottom: 20%;
    left: -35%;
}

.acquaintance__item:nth-child(3) {
    position: absolute;
    top: 15%;
    right: -35%;
}

.acquaintance__item:nth-child(4) {
    position: absolute;
    bottom: 20%;
    right: -35%;
}

.acquaintance__item:nth-child(1):before {
    z-index: 1;
    position: absolute;
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    margin: 2px;
    top: -21px;
    left: 20px;
    background: url(../img/acquaintance-item-1.svg) center / contain no-repeat;
}

.acquaintance__item:nth-child(2):before {
    z-index: 1;
    position: absolute;
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    margin: 2px;
    top: -21px;
    left: 20px;
    background: url(../img/acquaintance-item-2.svg) center / contain no-repeat;
}

.acquaintance__item:nth-child(3):before {
    z-index: 1;
    position: absolute;
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    margin: 2px;
    top: -21px;
    left: 20px;
    background: url(../img/acquaintance-item-3.svg) center / contain no-repeat;
}

.acquaintance__item:nth-child(4):before {
    z-index: 1;
    position: absolute;
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    margin: 2px;
    top: -21px;
    left: 20px;
    background: url(../img/acquaintance-item-4.svg) center / contain no-repeat;
}

.acquaintance__item:nth-child(1):hover {
    border: 2px solid var(--green-hover);
}

.acquaintance__item:nth-child(2):hover {
    border: 2px solid var(--red-hover);
}

.acquaintance__item:nth-child(3):hover {
    border: 2px solid var(--pink-hover);
}

.acquaintance__item:nth-child(4):hover {
    border: 2px solid var(--blue-hover);
}

.acquaintance__item:nth-child(1) p:before,
.acquaintance__item:nth-child(2) p:before,
.acquaintance__item:nth-child(3) p:before,
.acquaintance__item:nth-child(4) p:before {
    position: absolute;
    content: '';
    display: block;
    width: 42px;
    height: 23px;
    top: -2px;
    left: 20px;
    border-radius: 0 0 50px 50px;
    background: var(--black);
    transition: var(--transition);
}

.acquaintance__item:nth-child(1):hover p:before {
    background: var(--green-hover);
}

.acquaintance__item:nth-child(2):hover p:before {
    background: var(--red-hover);
}

.acquaintance__item:nth-child(3):hover p:before {
    background: var(--pink-hover);
}

.acquaintance__item:nth-child(4):hover p:before {
    background: var(--blue-hover);
}

.acquaintance__item .text1 {
    margin-bottom: 0;
    color: var(--black);
    text-align: left;
}

.acquaintance img {
    max-height: 430px;
}

.assets {
    margin-top: 120px;
    margin-bottom: 120px;
}

.assets__info {
    z-index: 2;
    position: relative;
    max-width: 350px;
}

.assets__box:nth-child(3) .assets__info {
    max-width: 380px;
}

.assets__box:nth-child(4) .assets__info {
    max-width: 440px;
}

.assets__box:nth-child(5) .assets__info {
    max-width: 360px;
}

.assets__box:nth-child(6) .assets__info {
    max-width: 400px;
}

.assets h2 {
    margin-bottom: 15px;
}

.assets h2+.text1 {
    max-width: 710px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.assets__buttons {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin-bottom: 30px;
    overflow: auto;
}

.assets__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 300;
    border-radius: 10px;
    background: var(--grey);
    transition: var(--transition);
    cursor: pointer;
    border: none;
}

.assets__btn:hover {
    color: var(--color-hover);
}

.assets__btn.active {
    background: var(--grey-dark);
}

.assets__btn:nth-child(1)::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/assets-btn-1.svg) center / contain no-repeat;
}

.assets__btn:nth-child(2)::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/assets-btn-2.svg) center / contain no-repeat;
}

.assets__btn:nth-child(3)::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/assets-btn-3.svg) center / contain no-repeat;
}

.assets__btn:nth-child(4)::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/assets-btn-4.svg) center / contain no-repeat;
}

.assets__btn:nth-child(5)::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/assets-btn-5.svg) center / contain no-repeat;
}

.assets__btn:nth-child(6)::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/assets-btn-6.svg) center / contain no-repeat;
}

.assets__box {
    position: relative;
    display: none;
    padding: 100px 25px 35px;
    background: var(--grey);
    border-radius: 10px;
}

.assets__box.active {
    display: block;
}

.assets__box:nth-child(1) {
    background: url(../img/assets-box-bg-1.png) var(--grey) right top / contain no-repeat;
}

.assets__box:nth-child(2) {
    background: url(../img/assets-box-bg-2.png) var(--grey) right top / contain no-repeat;
}

.assets__box:nth-child(3) {
    background: url(../img/assets-box-bg-3.png) var(--grey) right top / contain no-repeat;
}

.assets__box:nth-child(4) {
    background: url(../img/assets-box-bg-4.png) var(--grey) right top / contain no-repeat;
}

.assets__box:nth-child(5) {
    background: url(../img/assets-box-bg-5.png) var(--grey) right top / contain no-repeat;
}

.assets__box:nth-child(6) {
    background: url(../img/assets-box-bg-6.png) var(--grey) right top / contain no-repeat;
}

.assets__box h3 {
    margin-bottom: 15px;
}

.assets__box .text1 {
    margin-bottom: 25px;
}

.assets__box .btn {
    margin-bottom: 100px;
}

.assets__list {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.assets__list--1::before {
    position: absolute;
    content: '';
    display: block;
    background: url(../img/assets-box-human-1.png) right center / contain no-repeat;
    width: calc(100% - 70px);
    height: calc((100% - 20px - 120px));
    top: 20px;
    right: 70px;
    bottom: 120px;
}

.assets__list--1::after {
    z-index: 1;
    position: absolute;
    content: '';
    display: block;
    top: 130px;
    right: 350px;
    bottom: 240px;
    width: calc(100% - 350px);
    height: calc(100% - 130px - 240px);
    background: url(../img/assets-box-decor-1.svg) right top / contain no-repeat;
}

.assets__list--2::before {
    position: absolute;
    content: '';
    display: block;
    background: url(../img/assets-box-human-2.png) right center / contain no-repeat;
    width: calc(100% - 45px);
    height: calc(100% - 20px - 145px);
    top: 20px;
    right: 45px;
    bottom: 145px;
}

.assets__list--2::after {
    z-index: 1;
    position: absolute;
    content: '';
    display: block;
    top: 70px;
    right: 330px;
    bottom: 305px;
    width: calc(100% - 330px);
    height: calc(100% - 70px - 305px);
    background: url(../img/assets-box-decor-2.svg) right top / contain no-repeat;
}

.assets__list--3::before {
    position: absolute;
    content: '';
    display: block;
    width: calc(100% - 65px);
    height: calc(100% - 30px - 145px);
    top: 30px;
    bottom: 145px;
    right: 65px;
    background: url(../img/assets-box-human-3.png) right center / contain no-repeat;
}

.assets__list--3::after {
    z-index: 1;
    position: absolute;
    content: '';
    display: block;
    top: 60px;
    right: 385px;
    bottom: 300px;
    width: calc(100% - 385px);
    height: calc(100% - 60px - 300px);
    background: url(../img/assets-box-decor-3.svg) right top / contain no-repeat;
}

.assets__list--4::before {
    position: absolute;
    content: '';
    display: block;
    width: calc(100% - 90px);
    height: calc(100% - 5px - 160px);
    top: 5px;
    bottom: 160px;
    right: 90px;
    background: url(../img/assets-box-human-4.png) right center / contain no-repeat;
}

.assets__list--4::after {
    z-index: 1;
    position: absolute;
    content: '';
    display: block;
    top: 110px;
    right: 400px;
    bottom: 255px;
    width: calc(100% - 400px);
    height: calc(100% - 110px - 255px);
    background: url(../img/assets-box-decor-4.svg) right top / contain no-repeat;
}

.assets__list--5::before {
    position: absolute;
    content: '';
    display: block;
    width: calc(100% - 105px);
    height: calc(100% - 15px - 105px);
    top: 15px;
    bottom: 105px;
    right: 105px;
    background: url(../img/assets-box-human-5.png) right center / contain no-repeat;
}

.assets__list--5::after {
    z-index: 1;
    position: absolute;
    content: '';
    display: block;
    top: 55px;
    right: 320px;
    bottom: 320px;
    width: calc(100% - 320px);
    height: calc(100% - 55px - 320px);
    background: url(../img/assets-box-decor-5.svg) right top / contain no-repeat;
}

.assets__list--6::before {
    position: absolute;
    content: '';
    display: block;
    width: calc(100% - 100px);
    height: calc(100% - 40px - 165px);
    top: 40px;
    bottom: 165px;
    right: 100px;
    background: url(../img/assets-box-human-6.png) right center / contain no-repeat;
}

.assets__list--6::after {
    z-index: 1;
    position: absolute;
    content: '';
    display: block;
    top: 105px;
    right: 370px;
    bottom: 250px;
    width: calc(100% - 370px);
    height: calc(100% - 105px - 250px);
    background: url(../img/assets-box-decor-6.svg) right top / contain no-repeat;
}

.assets__item {
    position: relative;
    height: 140px;
    padding: 25px;
    border-radius: 10px;
}

.assets__list--green .assets__item {
    background: var(--green);
}

.assets__list--red .assets__item {
    background: var(--red);
}

.assets__list--pink .assets__item {
    background: var(--pink);
}

.assets__list--blue .assets__item {
    background: var(--blue);
}

.assets__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--black-with-opacity);
}

.assets__name {
    display: flex;
    gap: 20px;
    align-items: center;
}

.assets__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.assets__name--EURUSD::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/EURUSD.svg) center / contain no-repeat;
}

.assets__name--GBPUSD::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/GBPUSD.svg) center / contain no-repeat;
}

.assets__name--USDJPY::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/USDJPY.svg) center / contain no-repeat;
}

.assets__name--NVIDIA::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/NVIDIA.svg) center / contain no-repeat;
}

.assets__name--Alphabet-Inc::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/Alphabet-Inc.svg) center / contain no-repeat;
}

.assets__name--VALE-S-A::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/VALE-S-A.svg) center / contain no-repeat;
}

.assets__name--bitcoin::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/bitcoin.svg) center / contain no-repeat;
}

.assets__name--Ethereum::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/Ethereum.svg) center / contain no-repeat;
}

.assets__name--Market-Cap-SHIB::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/Market-Cap-SHIB.svg) center / contain no-repeat;
}

.assets__name--Silver::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/Silver.svg) center / contain no-repeat;
}

.assets__name--gold::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/gold.svg) center / contain no-repeat;
}

.assets__name--Palladium::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/Palladium.svg) center / contain no-repeat;
}

.assets__name--Moscow-Exchange::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/Moscow-Exchange.svg) center / contain no-repeat;
}

.assets__name--Nasdaq-100::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/Nasdaq-100.svg) center / contain no-repeat;
}

.assets__name--DJI::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/DJI.svg) center / contain no-repeat;
}

.assets__name--WTI-Oil::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/WTI-Oil.svg) center / contain no-repeat;
}

.assets__name--Wheat::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/Wheat.svg) center / contain no-repeat;
}

.assets__name--Cocoa::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/Cocoa.svg) center / contain no-repeat;
}

.news {
    margin-bottom: 120px;
}

.news h2 {
    margin-bottom: 50px;
}

.news__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.news__item {
    position: relative;
    height: 360px;
    border-radius: 10px;
}

.news__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.news__content {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 25px;
    background: #000000B2;
    border-radius: 10px;
}

.news__content--hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news__content--hero .btn {
    text-align: center;
}

.news__date {
    margin-bottom: 20px;
    color: #DDDDDD;
}

.news__item h3 {
    margin-bottom: 15px;
    color: var(--white);
}

.news__item .text1 {
    margin-bottom: 25px;
    color: #DDDDDD;
}

.analitics {
    margin-bottom: 120px;
}

.analitics__container {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 100px 30px;
    border-radius: 10px;
    background: var(--grey);
}

.analitics__container:after {
    position: absolute;
    content: '';
    display: block;
    width: calc(100% - 45px);
    height: calc(100% - 65px + 7px);
    top: 65px;
    right: 45px;
    bottom: -7px;
    background: url(../img/analitics-image.svg) right bottom / contain no-repeat;
}

.analitics__content {
    z-index: 1;
    position: relative;
    max-width: 410px;
}

.analitics h2 {
    margin-bottom: 15px;
    text-align: left;
}

.analitics p {
    margin-bottom: 25px;
}

.banner__container {
    position: relative;
    background: var(--grey-dark);
    border-radius: 10px;
}

.banner__content {
    z-index: 1;
    position: relative;
    padding: 125px 30px;
    text-align: center;
}

.banner__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/usa.png) left center / contain no-repeat;
}

.banner__container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../img/europe.png) right center / contain no-repeat;
}

.banner h2 {
    margin-bottom: 15px;
}

.banner p {
    margin-bottom: 25px;
}

footer {
    margin-top: 120px;
    margin-bottom: 90px;
}

footer .container {
    display: grid;
    row-gap: 35px;
    column-gap: 130px;
    grid-template-columns: 1fr 1fr;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 15px;
}

p {
    /* font-size: 18px; */
    /* color: #9C9C9C; */
}

.footer__icons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 35px;
}

.footer__icon {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    transition: var(--transition);
}

.footer__icon:hover {
    background-color: var(--grey-dark);
}

.footer__icon--apple {
    background: url(../img/apple.svg) #EBE8F3 center / 17px 20px no-repeat;
}

.footer__icon--playmarket {
    background: url(../img/playmarket.svg) #EBE8F3 center / 18px 20px no-repeat;
}

.footer__icon--windows {
    background: url(../img/windows.svg) #EBE8F3 center / 20px no-repeat;
}

.footer__icon--appstore {
    background: url(../img/appstore.svg) #EBE8F3 center / 23px 20px no-repeat;
}

footer .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 20px; */
    grid-row: 1/3;
    grid-column: 2/3;
    list-style: none;
}

footer .menu-item:nth-child(1) {
    order: -2;
}

footer .menu-item:nth-child(3) {
    order: -1;
}

footer .menu .menu-item a {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 300;
    color: var(--black);
    text-decoration: none;
}

footer .sub-menu .menu-item a {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 115%;
    transition: var(--transition);
}

footer .sub-menu .menu-item a:hover {
    color: var(--color-hover);
}

footer .sub-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

footer p {
    color: #9C9C9C;
}

.footer__info {
    max-width: 490px;
    font-size: 14px;
    line-height: 115%;
    color: #9C9C9C;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    line-height: 115%;
    color: #9C9C9C;
}

.error__container {
    margin-top: 10px;
    padding-top: 195px;
    padding-bottom: 210px;
    background: url(../img/error-bg.png) center / cover no-repeat;
    border-radius: 10px;
}

.error__content {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.error h1 {
    margin-bottom: 25px;
    font-size: 128px;
    line-height: 100%;
    color: var(--white);
}

.error p {
    margin-bottom: 25px;
    color: var(--white);
}

.hero-with-arrow__content {
    margin-top: 10px;
    padding-top: 155px;
    padding-bottom: 100px;
    background: var(--grey-dark);
    text-align: center;
    border-radius: 10px;
}

.hero-with-arrow__content::after {
    position: absolute;
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/arrow-down.svg) var(--white) center / 14px 16px no-repeat;
    border-radius: 50px;
    border: 5px solid var(--grey-dark);
}

.hero-with-arrow h1 {
    margin-bottom: 15px;
}

.choice {
    margin-top: 90px;
    margin-bottom: 120px;
}

.choice h2 {
    margin-bottom: 50px;
}

.choice__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.choice__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 30px 25px;
    height: 350px;
    border-radius: 10px;
    transition: var(--transition);
}

.choice__item:nth-child(1) {
    background: url(../img/choice-item-1.png) center / cover no-repeat;
}

.choice__item:nth-child(2) {
    background: url(../img/choice-item-2.png) center / cover no-repeat;
}

.choice__item:nth-child(3) {
    background: url(../img/choice-item-3.png) center / cover no-repeat;
}

.choice__item:hover {
    justify-content: start;
}

.choice h3 {
    color: var(--white);
}

.choice p {
    display: none;
    margin-top: 10px;
    color: var(--white);
}

.choice__item:hover p {
    display: block;
}

.responsibility {
    margin-bottom: 120px;
}

.responsibility h2 {
    max-width: 870px;
    margin: auto;
    margin-bottom: 50px;
}

.responsibility__content {
    display: grid;
    grid-template-columns: 1fr 625px;
    height: 545px;
    background: var(--grey);
    border-radius: 10px;
}

.responsibility__btn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 35px 10px 35px 25px;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid var(--grey-dark);
    transition: var(--transition);
}

.responsibility__btn:hover {
    color: var(--color-hover);
}

.responsibility__btn.active {
    background: var(--grey-dark);
}

.responsibility h3 {
    text-align: left;
}

.responsibility__box {
    display: none;
    padding: 30px 25px 25px 30px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.responsibility__box.active {
    display: flex;
}

.responsibility__box p:not(:last-child) {
    margin-bottom: 10px;
}

.responsibility__box li:not(:last-child) {
    margin-bottom: 10px;
}

.responsibility__box img {
    margin-top: 30px;
}

.faq {
    margin-bottom: 120px;
}

.faq .container {
    display: grid;
    grid-template-columns: 385px 1fr;
    gap: 30px;
}

.faq h2 {
    margin-bottom: 15px;
    text-align: left;
}

.faq h2+p {
    margin-bottom: 25px;
}

details:not(:last-child) {
    margin-bottom: 15px;
}

details summary {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

details summary::before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
    background: url(../img/plus.svg) var(--grey) center / 20px no-repeat;
    border-radius: 50px;
    transition: var(--transition);
}

details summary h3 {
    display: flex;
    align-items: center;
    min-height: 60px;
    width: 100%;
    padding: 15px 25px;
    background: var(--grey);
    border-radius: 10px;
    transition: var(--transition);
}

details summary+p {
    margin-top: 15px;
}

details summary:hover h3 {
    color: var(--color-hover);
}

details summary:hover::before {
    background: url(../img/plus-hover.svg) var(--grey) center / 20px no-repeat;
}

details[open] summary::before {
    background: url(../img/minus.svg) var(--grey-dark) center / 30px no-repeat;
}

details[open] summary:hover::before {
    background: url(../img/minus.svg) var(--grey-dark) center / 30px no-repeat;
}

details[open] summary h3 {
    background: var(--grey-dark);
}

.banner-2 h2 {
    max-width: 870px;
    margin: auto;
    margin-bottom: 15px;
}

.banner-2 .banner__container::before {
    background: url(../img/banner-2-left.png) left center / contain no-repeat;
}

.banner-2 .banner__container::after {
    background: url(../img/banner-2-right.png) right center / contain no-repeat;
}